body {
  margin: 20px;
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
  padding-left: 0px;
  list-style-type: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;

}

.game-info {
  margin-left: 0px;
}

.moves {
  border: 1px solid rgba(0,0,0,.125);
  width: 250px;
  border-radius: 5px;
}

.move {
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding: 5px;
}

.move:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.15);
  color: black;
}

.move:last-child {
  border-bottom: 0px;
}

.active {
  color: white; 
  background-color: #007bff;
}